.dialog {
  width: 650px;
  max-width: 90%;
  max-height: 85vh;
  overflow: auto;
  padding: 24px;
  border: 1px solid #ffffff26;
  border-radius: 20px;
  background-color: #292c46;
  color: #f8f5ff;
}

.dialog::backdrop {
  background-color: #00000099;
}

.dialog h2 {
  margin-top: 0;
  color: #f3b5dc;
}

.dialog table {
  margin-bottom: 32px;
}

@media (max-width: 600px) {
  .dialog {
    padding: 16px;
  }
}